[submodule "externals/ricpuppet"]
	path = externals/ricpuppet
	url = git://github.com/palladius/ricpuppet.git
[submodule "externals/jamtur1_puppet-irc"]
	path = externals/jamtur1_puppet-irc
	url = https://github.com/jamtur01/puppet-irc.git
